<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CTWebMgmt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CTWebMgmt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CTWebMgmt.Properties.Settings>
            <setting name="CTWebMgmt_wsXCharge_CheckVerify" serializeAs="String">
                <value>https://webservices.primerchants.com/CheckVerifyWS/CheckVerifyWS.asmx</value>
            </setting>
            <setting name="CTWebMgmt_wsCashLinq_CQ" serializeAs="String">
                <value>https://dlq4.donatelinq.net/cqwebservice/CQ.asmx</value>
            </setting>
            <setting name="CTWebMgmt_wsXferEventInfo_XferEventInfo" serializeAs="String">
                <value>https://www.camptrak.com/xfereventinfo/xfereventinfo.asmx</value>
            </setting>
            <setting name="CTWebMgmt_wsMDSmartMoverV2B_SmartMover" serializeAs="String">
                <value>http://smartmover.melissadata.net/v2b/smartmover.asmx</value>
            </setting>
            <setting name="CTWebMgmt_wsEPSServices_Express" serializeAs="String">
                <value>https://services.elementexpress.com/express.asmx</value>
            </setting>
            <setting name="CTWebMgmt_wsEPSTrans_Express" serializeAs="String">
                <value>https://transaction.elementexpress.com/express.asmx</value>
            </setting>
            <setting name="CTWebMgmt_wsEPSReporting_Express" serializeAs="String">
                <value>https://reporting.elementexpress.com/express.asmx</value>
            </setting>
            <setting name="CTWebMgmt_wsXferEventInfoV2_xfereventinfov2" serializeAs="String">
                <value>https://www.camptrak.com/xfereventinfov2/xfereventinfov2.asmx</value>
            </setting>
        </CTWebMgmt.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <CTWebMgmt.Properties.Settings>
            <setting name="SQLServer" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLDatabase" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="lngWSID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UseSQLServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstSetup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainPath" serializeAs="String">
                <value />
            </setting>
        </CTWebMgmt.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>